.offering-container{
    margin-top: 20px;
}

.portfolio-element-placeholder{
    padding-bottom:7px;
    padding-top:7px;
    color: black;
    float: right;
}

.portfolio-element-image-placeholder{
    width: 100%;
    height: 200px;
}

.mealplan-portfolio-element-placeholder{
	padding-bottom:7px;
	padding-top:7px;
        color: black;
}

.portfolio-element{
    position: relative;
    min-height: 100px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #63cc87;
}

.portfolio-element:hover {
    transform: scale(1.05);
}

.mealplan-portfolio-element{
    position: relative;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ff9400;
}

.portfolio-element:hover{
    cursor: pointer;
}

.portfolio-element-feature{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0px;
    right: 0px;
    background-color: #FFF;
    border-left: 1px solid #d9dde2;;
    border-bottom: 1px solid #d9dde2;;
    opacity: 80;
    padding: 0px;
    border-bottom-left-radius: 10px;
    filter: none;
    overflow: hidden;
}

.portfolio-element-feature-img{
    width: 100%;
    height: 100%;   
}

.portfolio-element-feature-img:hover{
    filter: saturate(150%);    
}

.portfolio-element-img:hover{
    filter: saturate(110%);    
}

.portfolio-element-img{
    height: auto;
    width: 100%;
    filter: saturate(80%);
}

.portfolio-element-text{
    float: bottom;
    background-color: #ffffff;
    width: 100%;
    text-align: left;
    padding: 4px;
}

.portfolio--mealplan-element-text{
    float: bottom;
    background-color: #ffffff;
    width: 100%;
    text-align: left;
    padding: 4px;
}

#offering_loading_gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.portfolio-element-price-tag{
    float: left;
    position: absolute;
    height: auto;
    width: auto;
    top: 0px;
    background-color: #FFF;
    border-right: 1px solid #d9dde2;
    border-bottom: 1px solid #d9dde2;
    opacity: 80;
    padding: 5px;
    border-bottom-right-radius: 10px;
    filter: none;
    overflow: hidden;
}

#no_results_image{
    width: 120px;
    height: 150px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}




.mealplan_viewport{
    height: 50%;
    width: 50%;
    float: left;
}

.viewport_container{
    height: 80%;
}

#mealplan_viewport_1{
    /*background: #ff9400;*/
}
#mealplan_viewport_2{
    /*background: #003eff;*/
}
#mealplan_viewport_3{
    /*background: #D64136;*/
}
#mealplan_viewport_4{
    /*background: #d9dde2;*/
}

.mealplan-element-img{
    height: 100%;
    width: 100%;
    padding: 4px;
}

.mealplan-element-img-canvas{
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    height: 100%;
    width: 100%;
    border: 1px solid #63cc87;
}

.mealplan-portfolio-element-text{
    float: bottom;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    text-align: left;
    margin-left: 10px;

}

.dialog_box_spinner{
    width: 30px;
    height: 30px;
}